body{
  background-image: url(https://img.freepik.com/free-vector/global-technology-background-with-circuit-diagram_1017-26580.jpg?size=626&ext=jpg);
  background-repeat:repeat-y;
  background-size: cover;
  
}
.header{
  text-align: center;
  color: rgb(0, 225, 255);
  margin-top: 50px ;
  margin-bottom: 50px;
}
.cityInfo{
  margin-left: 560px;
}
.button{
  background-color: #f0f2f7; 
  border: none;
  color: rgb(31, 6, 88);
  font-size: 50px;
  font-weight: 800;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:60px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 20px;
}
.cityName{
  border:#f2f4f8 solid;
  border-width: 10px;
  padding: 20px;
  border-radius: 20px;
}
.information{
  margin-left: 350px;
  margin-top: 50px;
}
.information1{
  margin-left: 350px;
  margin-top: 50px;
}
.information2{
  margin-left: 350px;
  margin-top: 50px;
}

